.resul{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
   
}
.resul a{
    position: absolute;
    background-color: #048293;
    padding: 10px 25px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-top: 500px;
    text-decoration: none;
  
   
}
@media(max-width:576px){
    .resul a{
        font-size: 15px;
        padding: 5px 15px;
    }  
}